.main-content {
    padding: 80px 20px; /* Adjust top padding to account for fixed navbar height */
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
  }
  
  tr:hover {background-color: #D6EEEE;}