<h2>Register a Client</h2>
<h3>{{message}}</h3>
<div class="login-container">
<form>
   Name <br>
   <input type="text" name="name" placeholder="Name" required [(ngModel)]="name">  <br>
    Email<br>
    <input type="email" name="email" placeholder="Email" required [(ngModel)]="email"> 
   <br>
   Address <br>
    <input type="text" name="address" placeholder="Address" required [(ngModel)]="address"> 
   <br>
   Password <br>
    <input type="password" name="password" placeholder="Password" required [(ngModel)]="password">
    <br>
<button (click)="register()">Register</button>
</form>
</div>